<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<title>[% title | html %]</title>  
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="[% description %]" />
	<link rel="stylesheet" href="/style.css" type="text/css" />
	[% IF rss_href %]
    <link href="/rss/author/[% rss_href %]" rel="alternate" type="application/rss+xml" title ="[% rss_title %]" />
    [% END %]
</head> 

<body>

<p id="pageHeader">CPAN::Forum</p>

<p id="pageTitle">[% pagetitle %]</p>

[% INCLUDE incl/navigation.tt %]
