[% UNLESS dev_server %]
<div id="right_column">
<center>
<a href="http://perlweekly.com/">Perl Weekly newsletter</a>
<br />
A free weekly newsletter for people who are busy to read all the blogs.
<a href="http://perlweekly.com/">click here</a> to check it out.
</center>
</div>

[% END %]
