[% DEFAULT
  title="Discuss any issue related to Perl or specific CPAN modules"
  description="The place where you can ask anythng about Perl and CPAN that you were afraid to ask elsewhere."
  rss_href = "/rss/all"
  rss_title = "CPAN::Fourm rss"
%]
[% INCLUDE incl/header.tt %]

[% INCLUDE incl/listing.tt %]

<p><a href="[% rss_href %]"><img src="/img/rss1.gif" alt="[% rss_title %]" /></a></p>

[% INCLUDE incl/footer.tt %]

