[% DEFAULT
  title="Modules with tag " _ tag
  description = ""
%]
[% INCLUDE incl/header.tt %]

[% FOR m IN modules %]
<a href="/dist/[% m.name %]">[% m.name %]</a> [% m.cnt %]<br />
[% END %]

[% INCLUDE incl/footer.tt %]
