[% DEFAULT
  title="Reset Password Request Processed"
  description=""
  pagetitle="Reset Password Request Processed"
%]
[% INCLUDE incl/header.tt %]

<p>
Email sent with code
</p>

[% INCLUDE incl/footer.tt %]
