[% DEFAULT
  title="Reset Password Done"
  description=""
  pagetitle="Reset Password Done"
%]
[% INCLUDE incl/header.tt %]

<p>
Your password was reset. Try to <a href="/login/">login</a> now.
</p>

[% INCLUDE incl/footer.tt %]
