<TMPL_INCLUDE NAME="popup/head.tmpl">
<p>Modules with tag <b><TMPL_VAR tag></b></p>
<TMPL_LOOP modules>
<a href="javascript:show('<TMPL_VAR referer>/<TMPL_VAR name>')"><TMPL_VAR name></a> (<TMPL_VAR cnt>), 
</TMPL_LOOP>
