html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
body { 
	background: #ffffff none repeat scroll 0 0; 
	color: #000000;
	font-family: Arial;
	font-size: 80%;
	text-align:center;
	line-height: 1;
}

a {
	color:#0077CC;
	cursor:pointer;
	text-decoration:none;
}
a:hover {
	text-decoration: underline;
}

a:visited {
	color:#4A6B82;
}

.lsep {
	color:#CCCCCC;
	font-size:110%;
	margin:0 2px;
}

.container {
	margin: 0 auto;
	text-align: left; /* what about rtl? */
	width: 960px;
	zoom:1;
}

#header {
	height: 103px;
	width: 100%;
}

#header #topbar {
	background-color: #EEEEEE;
	float: right;
	height: 30px;
	line-height: 22px;
	max-width: 750px;
	padding: 3px 10px 0;
	width: auto;
}

#header #topbar #toplinks {
	float: left;
	margin: 0 35px 0 0;
}

#header #topbar #toplinks a {
	font-weight: bold;
}

#header #topbar #topsearch {
	float: left;
}

#header #homelink {
	height: 61px;
	width: 250px;
	float: left;
	padding:34px 0 20px 5px;
	font-size: 30px;
	margin-top:12px;
}

#header #topmenu {
	width:705px;
/*	height: 40px; */
	float:left;
	/* padding:34px 0 20px 5px; */
	margin-top:12px;
}

.nav {
	float:left;
	font-size:125%;
}
.nav ul {
	margin:0;
}
.nav li {
	background:#777;
	display:block;
	float:left;
	margin-right:7px;
}
.nav .youarehere {
	background:#f90;
}
.youarehere a {
	color:#fff;
}
.nav li:hover {
	background-color:#f90;
}
.nav a {
	color:#fff;
	display:block;
	font-weight:bold;
	padding:6px 12px 6px 12px;
	text-decoration:none;
}

/* start old css */

.navigation  {
	margin-top: 20px; 
	margin-bottom: 20px; 
	font-size: 10pt;
	text-align: center; 
	padding-bottom:1px;
/*	width: 780px;*/
}
.perlads li {
    display: inline;
    padding: 4px;
    background-color: #EEEE00;
    border-style: solid;
    border-width: 1px;
}

.message {
	color: #000000;
}
TABLE.message {
	border-width: 3;
	border-style: groove;
	border-collapse: no;
	table-layout: fixed;
	align: 
	width: 90%;
}
.message_row_head {
	background: white;
	font-size: 10pt;
}
.message_row_subject {
	background: white;
/*	background: red;*/
}

.message_row_text {
	background: white;
/*	background: yellow;*/
}
.message_row_foot {
	background: white;
	font-size: 10pt;
}

/*
A       {
	color: #003399;
}

A:visited {
	color: #663399;
}
*/

TABLE.posts { 
	margin: 5px 0px 5px 0px;
	border: solid thin;
	border-color: #333333;
}

.posts_head {
	background-color: #E8EBEF;
	border: #B1BDC9 solid thin;
}

.odd {
	background: #bbbbbb;
}
.even {
	background: #aaaaaa;
}
.odd:hover {
	background: yellow;
}
.even:hover {
	background: yellow;
}

.odd TD:hover {
	background: red;
}
.even TD:hover {
	background: red;
}

.odd TD, .even TD {
	padding: 0ex 0ex 0ex 1px;
	vertical-align: baseline;
}

/*
.threads_odd TD {
	background: #dddddd;
	border-style: solid;
	border-width: 2px;
}

.threads_even TD {
	border-style: solid;
	border-width: 2px;
}
*/

TD {
	margin:  0;
	padding: 0;
}


.col1 {
	width: 25%;
}

.col2 {
	width: 50%;
}

.col3 {
	width: 5%;
}

.col4 {
	width: 10%;
}

.col5 {
	width: 10%;
}

.faq {
	padding: 0.2ex 0.4ex;
}

.faq DT {
	font-size: 1.2em;
	font-weight: bold;
}

.faq DD {
	margin-bottom: 10px;
}

.about_list {
	font-size: 14pt;
}

.about_title {
	margin-top: 0px; 
	background: white; 
	height: 18px; 
	padding: 0px 0px 0px 20px; 
	font-size: 12pt;
	color: #333333;
	margin-bottom: 20px;
	border: solid thin;
	border-color: #333333;
}


.posting_rules {
	margin-top: 10px;
}


IMG { 
	border: 0; 
}

FORM { 
	margin: 0; 
}

INPUT {
	margin: 2px; 
}

.title {
	font-size: 16pt;
	font-weight: bold;
}

.postrules {
	font-size: 9pt;
}

.left_footer {
	font-size: 8pt;
}

.right_footer {
	font-size: 8pt;
    text-align: right;
}

.error {
	color: red;
}

.links {
/*	background: lightyellow; */
	background: #eeeeee;
	text-align: center; 
}


.text {
	background: #eeeeee;
/*	white-space: pre;*/
	table-width: 80%;
}
.code {
	background: #dddddd;
	white-space: pre;
}

.nextmark {
	color: red;
}

.preview  {
	/*background: #444444;*/
}


.date {
	background: transparent;
	color: #008000;
}

.blurb {
	padding: 2ex 1ex;
	width: 70%;
}



/* From HTML::TagCloud (C) Leon Brocard */

#htmltagcloud {
  text-align:  center; 
  line-height: 1; 
}

span.tagcloud0 {font-size: 12px;}
span.tagcloud0 a {text-decoration: none;}
span.tagcloud1 {font-size: 13px;}
span.tagcloud1 a {text-decoration: none;}
span.tagcloud2 {font-size: 14px;}
span.tagcloud2 a {text-decoration: none;}
span.tagcloud3 {font-size: 15px;}
span.tagcloud3 a {text-decoration: none;}
span.tagcloud4 {font-size: 16px;}
span.tagcloud4 a {text-decoration: none;}
span.tagcloud5 {font-size: 17px;}
span.tagcloud5 a {text-decoration: none;}
span.tagcloud6 {font-size: 18px;}
span.tagcloud6 a {text-decoration: none;}
span.tagcloud7 {font-size: 19px;}
span.tagcloud7 a {text-decoration: none;}
span.tagcloud8 {font-size: 20px;}
span.tagcloud8 a {text-decoration: none;}
span.tagcloud9 {font-size: 21px;}
span.tagcloud9 a {text-decoration: none;}
span.tagcloud10 {font-size: 22px;}
span.tagcloud10 a {text-decoration: none;}
span.tagcloud11 {font-size: 23px;}
span.tagcloud11 a {text-decoration: none;}
span.tagcloud12 {font-size: 24px;}
span.tagcloud12 a {text-decoration: none;}
span.tagcloud13 {font-size: 25px;}
span.tagcloud13 a {text-decoration: none;}
span.tagcloud14 {font-size: 26px;}
span.tagcloud14 a {text-decoration: none;}
span.tagcloud15 {font-size: 27px;}
span.tagcloud15 a {text-decoration: none;}
span.tagcloud16 {font-size: 28px;}
span.tagcloud16 a {text-decoration: none;}
span.tagcloud17 {font-size: 29px;}
span.tagcloud17 a {text-decoration: none;}
span.tagcloud18 {font-size: 30px;}
span.tagcloud18 a {text-decoration: none;}
span.tagcloud19 {font-size: 31px;}
span.tagcloud19 a {text-decoration: none;}
span.tagcloud20 {font-size: 32px;}
span.tagcloud20 a {text-decoration: none;}
span.tagcloud21 {font-size: 33px;}
span.tagcloud21 a {text-decoration: none;}
span.tagcloud22 {font-size: 34px;}
span.tagcloud22 a {text-decoration: none;}
span.tagcloud23 {font-size: 35px;}
span.tagcloud23 a {text-decoration: none;}
span.tagcloud24 {font-size: 36px;}
span.tagcloud24 a {text-decoration: none;}

