<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle">Edit user information</p>

<TMPL_INCLUDE NAME="navigation.tmpl">


<TMPL_IF done>
<p>
The information was updated
<a href="/admin_edit_user/<TMPL_VAR this_username>">see it again</a>
</p>
<TMPL_ELSE>
<div class="error">
<TMPL_IF bad_pw_pair>The two passwords mustbe the same<br></TMPL_IF>
</div>

<p>
Username: <TMPL_VAR this_username>
</p>
<form method="post" action="/admin_edit_user_process/">
<p>
<input type="hidden" name="rm" value="admin_edit_user_process" />
<input type="hidden" name="uid" value="<TMPL_VAR uid>" />
E-mail: <input name="email" value="<TMPL_VAR email>" /><br />
<input type="submit" value="Update user" />
</p>
</form>
</TMPL_IF>

<TMPL_INCLUDE NAME="footer.tmpl">
