<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle">Admin interface</p>

<TMPL_INCLUDE NAME="navigation.tmpl">

<TMPL_INCLUDE NAME="search_form.tmpl">

<TMPL_IF updated>
Data updated. <a href="/admin/">look it again</a>
<TMPL_ELSE>

<form method="POST" action="/admin/">
<p>
<input type="hidden" name="rm" value="admin_process" />
</p>
<table>
<tr><td>From address:</td><td><input name="from" value="<TMPL_VAR from>" size="50"></td></tr>
<tr><td>Page size:</td><td><input name="per_page" value="<TMPL_VAR per_page>" size="5"></td></tr>
<tr><td>RSS size:</td><td><input name="rss_size" value="<TMPL_VAR rss_size>" size="5"></td></tr>
</table>
<p>
<input type="submit" value="Update" />
</p>
</form>

</TMPL_IF>

<TMPL_INCLUDE NAME="footer.tmpl">
