<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle">Admin interface</p>

<TMPL_INCLUDE NAME="navigation.tmpl">
<TMPL_INCLUDE NAME="search_form.tmpl">

<TMPL_IF updated>
Data updated. <a href="/admin/">look at it again</a>
<TMPL_ELSE>

<!--
<hr />
<form method="POST" action="/admin/">
<p>
<input type="hidden" name="rm" value="add_new_group" />
</p>
<table>
<tr>
 <td>Group name:</td><td><input name="group" value="" size="50"></td>
 <td>PAUSEID:</td><td><input name="pauseid" value="" size="20"></td>
</tr>
</table>
<p>
<input type="submit" value="Add new group" />
</p>
</form>
-->

<hr />


<form method="POST" action="/admin/">
<p>
<input type="hidden" name="rm" value="admin_process" />
</p>
<table>
<tr><td>From address:</td><td><input name="from" value="<TMPL_VAR from>" size="50"></td></tr>
<tr><td>Disable e-mail notification:</td>
    <td><input name="disable_email_notification" type="checkbox" <TMPL_IF disable_email_notification>CHECKED</TMPL_IF> size="50"></td></tr>
<tr><td>Page size:</td><td><input name="per_page" value="<TMPL_VAR per_page>" size="5"></td></tr>
<tr><td>RSS size:</td><td><input name="rss_size" value="<TMPL_VAR rss_size>" size="5"></td></tr>
<tr><td>Status:</td><td><select name="status">
                         <option value="open" <TMPL_IF status_open>SELECTED</TMPL_IF>>Open</option>
                         <option value="readonly" <TMPL_IF status_readonly>SELECTED</TMPL_IF>>Read only</option>
                         <option value="closed" <TMPL_IF status_closed>SELECTED</TMPL_IF>>Closed</option>
						 </select></td></tr>
<tr><td>Flood control time limit:</td><td><input name="flood_control_time_limit" value="<TMPL_VAR flood_control_time_limit>" size="5"></td></tr>
	

</table>
<p>
<input type="submit" value="Update" />
</p>
</form>

</TMPL_IF>

<TMPL_INCLUDE NAME="footer.tmpl">
