<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle"><b><TMPL_VAR pauseid></b></p>
<link href="/rss/author/<TMPL_VAR pauseid>" rel="alternate"
      type="application/rss+xml" title ="CPAN::Forum <TMPL_VAR pauseid> rss" />
<TMPL_INCLUDE NAME="navigation.tmpl">
<TMPL_INCLUDE NAME="search_form.tmpl">
<TMPL_INCLUDE NAME="links.tmpl">

<p>
Post made to modules whose author is <b><TMPL_VAR pauseid></b>.
</p>

<p>
If you are <a href="/register/">registered</a> on the forum you can subscribe
to get alerted whan someone posts a new message to any of the modules
maintained by <TMPL_VAR pauseid>.
<!-- <a href="/mypan/dist/<TMPL_VAR pauseid>">subscribe to e-mail notification
<TMPL_VAR group></a>  -->
</p>

<TMPL_INCLUDE NAME="listing.tmpl">

<!--
<p>
Users currently monitoring the modules of <TMPL_VAR pauseid>:
<TMPL_LOOP users>
   <a href="/users/<TMPL_VAR username>"><TMPL_VAR username></a>, 
</TMPL_LOOP>
</p>
-->

<p><a href="/rss/author/<TMPL_VAR pauseid>"><img src="/img/rss1.gif" alt="RSS Feed" /></a></p>
<TMPL_INCLUDE NAME="footer.tmpl">
