<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle">Change Personal information</p>

<TMPL_INCLUDE NAME="navigation.tmpl">


<TMPL_IF done>
<p>
Updated.
</p>
<TMPL_ELSE>
<div class="error">
<TMPL_IF bad_pw_pair>The two passwords mustbe the same<br></TMPL_IF>
<TMPL_IF bad_fname>not supported First name</TMPL_IF>
<TMPL_IF bad_lname>not supported Last name</TMPL_IF>
</div>

<p>Change Password</p>
<form method="post" action="/">
<p>
<input type="hidden" name="rm" value="change_password" />
Password: <input name="password" type="password" />
Password again: <input name="pw" type="password" />
<input type="submit" value="Change password" />
</p>
</form>

<p>Change Personal Information</p>
<form method="post" action="/">
<p>
<input type="hidden" name="rm" value="change_info" />
First name: <input name="fname" value="<TMPL_VAR fname>" />
Last name: <input name="lname" value="<TMPL_VAR lname>" />
<input type="submit" value="Change information" />
</p>
</form>




</TMPL_IF>

<TMPL_INCLUDE NAME="footer.tmpl">
