<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle">Change Password</p>

<TMPL_INCLUDE NAME="navigation.tmpl">


<TMPL_IF done>
<p>
Your password was updated.
</p>
<TMPL_ELSE>
<div class="error">
<TMPL_IF bad_pw_pair>The two passwords mustbe the same<br></TMPL_IF>
</div>

<form method="post" action="/">
<p>
<input type="hidden" name="rm" value="change_password" />
Password: <input name="password" type="password" />
Password again: <input name="pw" type="password" />
<input type="submit" value="Change password" />
</p>
</form>
</TMPL_IF>

<TMPL_INCLUDE NAME="footer.tmpl">
