
<div class="error">
	<TMPL_IF no_group>No distribution name provided<br /></TMPL_IF>
	<TMPL_IF no_subject>No subject provided<br /></TMPL_IF>
	<TMPL_IF invalid_subject>The subject contained and invalid character
	<a href="/help/">help</a><br /></TMPL_IF>
	<TMPL_IF no_text>No text provided<br /></TMPL_IF>
	<TMPL_IF bad_group>Bad distribution name<br /></TMPL_IF>
	<TMPL_IF bad_data>Bad data<br /></TMPL_IF>
	<TMPL_IF subject_too_long>Subject must be up to 50 characters.<br /></TMPL_IF>
	<TMPL_IF text_format>Text format is not correct. As we are still in development
	this might be either a bug or on purpose. If after reading again the rules of posting
	at the bottom of this page you still think your post should work, please send a copy of
	it to <a href="mailto:gabor@perl.org.il">szabgab</a><br /></TMPL_IF>

	<TMPL_IF bad_thing>Bad thing<br /></TMPL_IF>
</div>

<form method="post" action="/">
<p>
<input type="submit" name="button" value="Preview" />
<TMPL_IF preview>
	<input type="submit" name="button" value="Submit" />
</TMPL_IF>
<br />
<input type="hidden" name="rm" value="process_post" />
<input type="hidden" name="new_parent" value="<TMPL_VAR id>" />
	
<input type="hidden" name="new_group_id" value="<TMPL_VAR new_group_id>">
Distribution: <TMPL_VAR new_group><br />
Subject:<br /><input name="new_subject" size="100" value="<TMPL_VAR new_subject>" /><br />
Text:<br /><textarea name="new_text" rows="15" cols="100"><TMPL_VAR new_text></textarea><br />

<input type="submit" name="button" value="Preview" />
<TMPL_IF preview>
	<input type="submit" name="button" value="Submit" />
</TMPL_IF>
</p>
</form>

<div class="posting_rules">Posting Rules:</div>
<ul class="postrules">
	<li> Accepted XHTML tags are: &lt;b&gt;&lt;/b&gt;, &lt;i&gt;&lt;/i&gt;, &lt;p&gt;&lt;/p&gt;, &lt;br /&gt;, &lt;a href=...&gt;...&lt;/a&gt;</li>
	<li> The site also accepts the upper case versions of these tags and turns them into lower case. In addition we accept &lt;br&gt; and turn it into a  &lt;br /&gt; during display.</li>
	<li> If you'd like to show &lt; &gt; you'll have to type &amp;lt; &amp;gt; repectively</li>
	<li> You can use a pseudo markup pair: &lt;code&gt; and &lt;/code&gt;. The idea is 
		that you put your real code in such markup. Including plain &lt;STDIN&gt; 
		as you like. Then when showing such parts of your posting we'll make 
		sure it shows correctly. (If not, let us know and we'll fix it ASAP)</li>
</ul>

