</div>
<TMPL_INCLUDE name="navigation.tmpl">
	<div class="footer">
		Service launched in January 2005.<br />
		Comments, and other submissions on CPAN Forum are Copyright 2005, their respective owners.<br />
		Site maintainer is not responsible for content.
	</div>
</body>
</html>
