<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle"><TMPL_VAR group></p>

<TMPL_INCLUDE NAME="navigation.tmpl">
<TMPL_INCLUDE NAME="links.tmpl">

<p>
This section of the site is for discussing the <TMPL_VAR group> CPAN distribution.<br />
<a href="/mypan/dist/<TMPL_VAR group>">Manage my subscription to <TMPL_VAR group></a>
</p>

<TMPL_INCLUDE NAME="listing.tmpl">

<TMPL_INCLUDE NAME="footer.tmpl">
