<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle"><b><TMPL_VAR group></b></p>
<link href="/rss/dist/<TMPL_VAR group>" rel="alternate" type="application/rss+xml" title ="CPAN::Forum <TMPL_VAR group> rss" />
<TMPL_INCLUDE NAME="navigation.tmpl">
<TMPL_INCLUDE NAME="search_form.tmpl">
<TMPL_INCLUDE NAME="links.tmpl">

<p>
This section of the site is for discussing the <b><TMPL_VAR group></b> CPAN distribution.
<br />
All the posts related to modules of <a href="/author/<TMPL_VAR pauseid_name>"><TMPL_VAR pauseid_name></a>.
</p>

<TMPL_IF show_tags>
<p>
<TMPL_IF tags>
My Tags: <TMPL_LOOP tags><a href="/tags/name/<TMPL_VAR name>"><TMPL_VAR name></a>, </TMPL_LOOP>
</TMPL_IF><br />
<form method="post" action="/update/">
<input type="hidden" name="what" value="tags" />
<input type="hidden" name="group_id" value="<TMPL_VAR group_id>" />
<input name="new_tags" value="<TMPL_LOOP tags><TMPL_VAR name>, </TMPL_LOOP>" />
<input type="submit" value="Update tags" />
</form>
</p>
</TMPL_IF>

<TMPL_IF messages>
<p>
<center>
<form action="/new_post/<TMPL_VAR group>">
<input type="submit" value="Post a message in the subforum of <TMPL_VAR group>">
</form>
</center>
</p>
<TMPL_ELSE>
<p>
The whole web site is new, so there are no posts in this section yet. 
Visit the <a href="/">main page</a> to see more action.
</p>
<p>
<center>
<form action="/new_post/<TMPL_VAR group>">
<input type="submit" value="Be the first one to post a message in the subforum of <TMPL_VAR group>">
</form>
</center>
</p>
</TMPL_IF>

<p>
If you are <a href="/register/">registered</a> on the forum you can <a href="/mypan/dist/<TMPL_VAR group>">subscribe to e-mail notification <TMPL_VAR group></a> for this specific
distribution and get alerted when someone posts a new message.
</p>
<TMPL_INCLUDE NAME="listing.tmpl">

<p>
Users currently monitoring this forum:
<TMPL_LOOP users>
   <a href="/users/<TMPL_VAR username>"><TMPL_VAR username></a>, 
</TMPL_LOOP>
</p>

<p><a href="/rss/dist/<TMPL_VAR group>"><img src="/img/rss1.gif" alt="RSS Feed" /></a></p>
<TMPL_INCLUDE NAME="footer.tmpl">
