<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html> 
<head>
	<title><TMPL_IF title><TMPL_VAR title><TMPL_ELSE>CPAN Forum</TMPL_IF></title>  
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="/style.css" type="text/css">
</head> 
<body>
<TMPL_IF test_site_warning>
<font color="red" size="+2">Warning: this is a test site, the data here will be deleted.<br />
For real use, please wait till we launch the production site.</font>
</TMPL_IF>
<div id="container">
	<div id="pageHeader">
		<h1>CPAN::Forum</h1>

