<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<title><TMPL_IF title><TMPL_VAR title><TMPL_ELSE>CPAN Forum</TMPL_IF></title>  
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/style.css" type="text/css" />
</head> 
<body>
<TMPL_IF test_site_warning>
<p class="warning">Warning: this is a test site, the data here will be deleted.<br />
For real use, please visit the <a href="http://www.cpanforum.com/">the production site</a>.</p>
</TMPL_IF>
<div id="container">
	
<p id="pageHeader">CPAN::Forum</p>

