<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle">Help</p>

<TMPL_INCLUDE NAME="navigation.tmpl">
<p>
Currently the subject line is restricted to alphanumerical characters and some extra characters.
If your favorite character is not in there, just send an e-mail, and we'll what can we do.
</p>

<TMPL_INCLUDE NAME="footer.tmpl">
