<TMPL_INCLUDE NAME="head.tmpl">
		<h2></h2>
	</div>
	<TMPL_INCLUDE NAME="navigation.tmpl">
	<div id="posts">
		<h3>Latest posts:</h3>
		<TMPL_INCLUDE NAME="listing.tmpl">
	</div>
	<TMPL_INCLUDE NAME="footer.tmpl">
