<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle"></p>
<link href="/rss/all" rel="alternate" type="application/rss+xml" title ="CPAN::Fourm rss" />

<TMPL_INCLUDE NAME="navigation.tmpl">

<TMPL_INCLUDE NAME="listing.tmpl">

<p><a href="/rss/all"><img src="/rss1.gif" alt="RSS feed" /></a></p>
<TMPL_INCLUDE NAME="footer.tmpl">
