<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle"></p>
<link href="/rss/all" rel="alternate" type="application/rss+xml" title ="CPAN::Fourm rss" />

<TMPL_INCLUDE NAME="navigation.tmpl">

<a href="/faq/#feeds">RSS and Atom feeds</a>
| <a href="/faq/#notify">Notification by e-mail</a>
| <a href="/faq/#tags">Add tags to CPAN modules</a><br />

<TMPL_INCLUDE NAME="search_form.tmpl">

<TMPL_INCLUDE NAME="listing.tmpl">

<p><a href="/rss/all"><img src="/img/rss1.gif" alt="RSS feed" /></a></p>
<TMPL_INCLUDE NAME="footer.tmpl">
