<div class="links">
	<a href="/dist/<TMPL_VAR group>"><TMPL_VAR group></a>
	[<a href="http://search.cpan.org/dist/<TMPL_VAR group>">search.cpan.org</a>]
	[<a href="http://cpan.uwinnipeg.ca/dist/<TMPL_VAR group>">Kobes search</a>]
    [<a href="http://rt.cpan.org/NoAuth/Bugs.html?Dist=<TMPL_VAR group>">View and report bugs</a>]
	[<a href="http://cpanratings.perl.org/d/<TMPL_VAR group>">View and write ratings</a>]
	[<a href="http://testers.cpan.org/show/<TMPL_VAR group>.html">CPAN Tests results</a>]
</div>


