<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle">Login</p>

<TMPL_INCLUDE NAME="navigation.tmpl">


<div class="error">
<TMPL_IF no_login_data>Need both nickname and password.<br></TMPL_IF>
<TMPL_IF bad_login>Login failed.<br></TMPL_IF>
</div>

<p>
In order to post on this site first you'll have to <a href="/register/">register</a>
with a valid e-mail address.
</p>
<form method="post" action="/">
<p>
<input type="hidden" name="rm" value="login_process" />
Nickname: <input name="nickname" value="<TMPL_VAR nickname>" />
Password: <input name="password" type="password" />
<input type="submit" value="Login" />
</p>
</form>
<p>
To retrieve a lost password, please visit the
<a href="/pwreminder/">password reminder</a>.
</p>

<TMPL_INCLUDE NAME="footer.tmpl">
