<a name="<TMPL_VAR id>">
<table class="message">
<tr class="message_row_head"><td>
   Posted on <span class="date"><TMPL_VAR date></span> 
   by <span class="username"><a href="/users/<TMPL_VAR postername>"><TMPL_VAR postername></a></span>
  <TMPL_IF parentid>
	<span class="inresponse">in response to <a href="#<TMPL_VAR parentid>"><TMPL_VAR parentid></a></div>



  </TMPL_IF>
</td></tr>
<tr class="message_row_subject"><td><TMPL_VAR subject></span></td></tr>
<tr class="message_row_text"><td>
    <TMPL_VAR text>
</td></tr>
<tr class="message_row_foot"><td>
<TMPL_IF responses>
	Direct Responses:
	<TMPL_LOOP responses>
	 <a href="#<TMPL_VAR id>"><TMPL_VAR id></a> | 
	</TMPL_LOOP>
</TMPL_IF>
   <TMPL_UNLESS editor>
    <a href="/response_form/<TMPL_VAR id>">Write a response</a>
   </TMPL_UNLESS>
</td></tr>
</table>


