<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle">Search for module name</p>

<TMPL_INCLUDE NAME="navigation.tmpl">
<p class="error">
<TMPL_IF invalid_search_term>Invalid or missing search term</TMPL_IF><br />
<TMPL_IF no_module_found>No module found</TMPL_IF><br />
</p>
<p>
Please search for the name of a module.
</p>

<form method="post" action="/module_search/">
<p>
<input type="hidden" name="rm" value="module_search" />
<input name="q" value="<TMPL_VAR q>" />
<input type="submit" value="Search" />
</p>
</form>

<TMPL_INCLUDE NAME="footer.tmpl">

