<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle"><b>Modules with tag <TMPL_VAR tag></b></p>
<TMPL_INCLUDE NAME="navigation.tmpl">

<TMPL_LOOP modules>
<a href="/dist/<TMPL_VAR name>"><TMPL_VAR name></a> <TMPL_VAR cnt><br />
</TMPL_LOOP>

<TMPL_INCLUDE NAME="footer.tmpl">
