<TMPL_INCLUDE NAME="head.tmpl">
<h2></h2>
<TMPL_INCLUDE NAME="navigation.tmpl">

<TMPL_IF mypanok>
Your subscriptions were successfully updated.
You can look at them here: <a href="/mypan">subscription information</a>
</TMPL_IF>

<TMPL_INCLUDE NAME="footer.tmpl">

