<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle">CPAN::Forum Privacy Policy</p>

<TMPL_INCLUDE NAME="navigation.tmpl">

<div class="blurb">
Privacy of our users is important, so is making the content of CPAN::Forum available
to the public. There are several types of information available in our database.
</div>
<div class="about_list">
	<p class="about_title">Posts</p>

</div>

<div class="about_list">
	<p class="about_title">Your e-mail, password</p>
	<p class="about_p">
    The most critical for the privacy of users are e-mail and password. 
    </p> 
</div>



<TMPL_INCLUDE NAME="footer.tmpl">

