<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle">Password Reminder</p>

<TMPL_INCLUDE NAME="navigation.tmpl">

<TMPL_IF done>
   Your password was sent to you by e-mail.<br />
   <a href="/login/">login</a>
<TMPL_ELSE>

<div class="error">
<TMPL_IF no_data>Need either correct nickname or correct email address<br /></TMPL_IF>
</div>

<form method="post" action="/">
<p>
<input type="hidden" name="rm" value="pwreminder_process" />
</p>
	<table>
	<tr><td>Nickname:</td><td><input name="nickname" value="<TMPL_VAR nickname>" /></td></tr>
	<tr><td>Email:</td><td><input name="email" value="<TMPL_VAR email>" /></td></tr>
	<tr><td></td><td><input type="submit" value="Remind me" /></td></tr>
	</table>
</form>
</TMPL_IF>

<TMPL_INCLUDE NAME="footer.tmpl">
