<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle">Reset Password</p>

<TMPL_INCLUDE NAME="navigation.tmpl">


<div class="error">
<TMPL_IF no_login_data>Passwords  don't match<br></TMPL_IF>
</div>

<p>
Please fill out the new password
</p>
<form method="post" action="/">
<p>
<input type="hidden" name="rm" value="reset_password" />
<input type="hidden" name="code" value="<TMPL_VAR code>" />
Password: <input name="password" type="password" />
Retype: <input name="password2" type="password" />
<input type="submit" value="Set Password" />
</p>
</form>

<TMPL_INCLUDE NAME="footer.tmpl">
