<TMPL_INCLUDE NAME="head.tmpl">
<h2>Search page</h2>
<TMPL_INCLUDE NAME="navigation.tmpl">

<form method="POST" action="/search">
<input type="hidden" name="rm" value="search">
<input name="q" value="<TMPL_VAR q>">
<input type="submit" value="Search">
</form>

<TMPL_IF q>
Search results
</TMPL_IF>

<TMPL_INCLUDE NAME="listing.tmpl">
<TMPL_INCLUDE NAME="footer.tmpl">

