<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle">Search page</p>

<TMPL_INCLUDE NAME="navigation.tmpl">

<TMPL_LOOP groups>
   <a href="/dist/<TMPL_VAR name>"><TMPL_VAR name></a><br />
</TMPL_LOOP>

<TMPL_LOOP users>
  <a href="/users/<TMPL_VAR username>"><TMPL_VAR username></a><br />
</TMPL_LOOP>

<TMPL_INCLUDE NAME="listing.tmpl">

<TMPL_IF no_results>
<p class="error">
No hits.
</p>
</TMPL_IF>

<TMPL_INCLUDE NAME="footer.tmpl">

