<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle">Search page</p>

<TMPL_INCLUDE NAME="navigation.tmpl">

<form method="post" action="/search/">
<p>
<input type="hidden" name="rm" value="find_groups" />
<input name="name" value="<TMPL_VAR name>" /><br />
<input type="submit" value="Search Module names" />
</p>
</form>

<TMPL_LOOP groups>
   <a href="/dist/<TMPL_VAR name>"><TMPL_VAR name></a><br />
</TMPL_LOOP>

<hr />

<form method="post" action="/search/">
<p>
<input type="hidden" name="rm" value="search" />
</p>
<table>
<tr><td>Subject:</td><td><input name="subject" value="<TMPL_VAR subject>" /></td></tr>
<tr><td>Text:</td><td><input name="text" value="<TMPL_VAR text>" /></td></tr>
</table>
<p>
<input type="submit" value="Search Posts" />
</p>
</form>

<TMPL_INCLUDE NAME="listing.tmpl">

<TMPL_INCLUDE NAME="footer.tmpl">

