<form method="post" action="/search/">
<p>
<input type="hidden" name="rm" value="search" />
<select name="what">
<option value="module"  <TMPL_IF module> selected="selected"</TMPL_IF>>Modules by name</option>
<option value="pauseid" <TMPL_IF pauseid> selected="selected"</TMPL_IF>>Modules by PAUSEID</option>
<option value="user"    <TMPL_IF user>   selected="selected"</TMPL_IF>>Users by name</option>
<option value="subject" <TMPL_IF subject>selected="selected"</TMPL_IF>>Posts by text in subject</option>
<option value="text"    <TMPL_IF text>   selected="selected"</TMPL_IF>>Posts by text in body</option>
</select>
<input name="name" value="<TMPL_VAR name>" />
<input type="submit" value="Search" />
</p>
</form>


