<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle"><b>Tags<TMPL_IF user_name> by <TMPL_VAR user_name> </TMPL_IF></b></p>
<TMPL_INCLUDE NAME="navigation.tmpl">

<TMPL_IF user_name>
Tags of user <a href="/user/<TMPL_VAR user_name>"><TMPL_VAR user_name></a>
</TMPL_IF>
<!--Number of tags: <TMPL_VAR tag_count><br />-->
<div id="htmltagcloud">
<TMPL_LOOP tags>
<span class="tagcloud<TMPL_VAR total>"><a href="/tags/name/<TMPL_VAR name>"><TMPL_VAR name></a></span><TMPL_UNLESS __last__>, </TMPL_UNLESS>
</TMPL_LOOP>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
