<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle">Thread</p>

<TMPL_INCLUDE NAME="navigation.tmpl">
<TMPL_INCLUDE NAME="links.tmpl">

<table class="threads">
<TMPL_LOOP posts>
<tr class="<TMPL_IF NAME="__odd__">threads_odd<TMPL_ELSE>threads_even</TMPL_IF>">
<td>
	<TMPL_INCLUDE NAME="message_in_thread.tmpl">
</td></tr>
</TMPL_LOOP>
</table>
<TMPL_INCLUDE NAME="footer.tmpl">

