<TMPL_INCLUDE NAME="head.tmpl">
<h2>Recent postings by <TMPL_VAR this_fullname> (<TMPL_VAR this_username>)</h2>
<TMPL_INCLUDE NAME="navigation.tmpl">

<TMPL_INCLUDE NAME="listing.tmpl">

<TMPL_INCLUDE NAME="footer.tmpl">

