<TMPL_INCLUDE NAME="head.tmpl">
<p id="pageTitle">Recent postings by <TMPL_VAR this_fullname> (<TMPL_VAR this_username>)</p>

<TMPL_INCLUDE NAME="navigation.tmpl">

<TMPL_INCLUDE NAME="listing.tmpl">

<TMPL_INCLUDE NAME="footer.tmpl">

